[
  {kernel, [
    {inet_dist_use_interface, {172,16,1,31}},
    {inet_dist_listen_min, 25672},
    {inet_dist_listen_max, 25672}
  ]},
  {rabbit, [
    {tcp_listeners, [
      {"172.16.1.31", 5672}
    ]},
    {cluster_partition_handling, autoheal}
  ]},
  {rabbitmq_management, [
    {listener, [
      {ip, "172.16.1.31"},
      {port, 15672}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_clusterer, [{config, "/etc/rabbitmq/rabbitmq-clusterer.config"}]}
].
% EOF
